<div class="grid grid-cols-12 md:gap-4 mt-10">
        
        <div class="md:m-8 m-2 mt-[80px] sm:mt-2 text-black md:col-span-5 col-span-12 sm:col-span-6">
          <h2 class="md:text-2xl text-xl font-semibold">
            <span class="shadow-blue-600 sm:pl-5 pl-3 py-1 rounded-l-md text-white bg-gradient-to-r from-[#6017CD] to-[#0B54E7] shadow-2xl mr-1">
              OUR
            </span>
            BLOG
          </h2>
          <h1 class="md:text-5xl text-3xl sm:text-4xl font-sans mt-10 ">
            The Premier Source For Everything Blog
          </h1>
          <div class="h-[5px] w-[100px] bg-slate-400 my-8 sm:my-8  rounded-sm"></div>
          <p class=" tracking-wider text-stone-400">
            Our Mission Is To Provide Quality English Language Instruction
            Through A Variety Of Courses To International And Local Students.
          </p>
          <Link href="all_blogs">
            <button class="mt-6 my-8 md:my-8 sm:px-10 sm:py-2   py-2 hover:shadow-blue-200 shadow-yellow-200 shadow-lg md:py-3 md:px-12 px-6 rounded-full bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  text-black hover:bg-gradient-to-r hover:from-[#6017CD] hover:to-[#0B54E7]  hover:text-white">
              VIEW ALL BLOG
            </button>
          </Link>
        </div>

        <div class="md:col-span-7 justify-self-center col-span-12 sm:col-span-6">
          <!-- {/* blog container */} -->
          <a href="#">
            <div class="relative shadow-2xl shadow-black rounded-2xl w-[320px] sm:w-[450px] sm:h-[300px] mx-4 sm:mx-auto">
                <div>
                <img class="rounded-2xl w-full sm:h-[300px]" src="https://ik.imagekit.io/prohlad/buzzin/blog/img1.jpg?updatedAt=1704305332164" alt="" />
                </div>
                <div class="opacity-[0.9] sm:opacity-[0.9] sm:-bottom-10 shadow-md shadow-blue-500 -bottom-2 sm:-left-10 overflow-hidden py-3 px-4 absolute w-full bg-gradient-to-l rounded-2xl from-[#6017CD] to-[#0B54E7] ">
                <p class="font-semibold text-base text-stone-300 flex gap-1 justify-center items-center">
                    FEBRUARY 5, 2020
                    <span class="w-[3px] h-[3px] bg-stone-300 rounded-full"></span>
                    BUSINESS
                </p>
                <h2 class="flex text-white sm:text-2xl text-lg sm:my-3 my-1 -ml-14 justify-center items-center gap-1">
                    <span class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D] h-[3px] w-[40px] rounded-sm"></span>
                    Grow Your Business & Start
                </h2>
                </div>
            </div>
          </a>
        </div>
        <div class="col-span-12">
          <div class="grid grid-cols-12 justify-items-center">  
            <div class="sm:col-span-6 col-span-12 mt-[40px] sm:mt-0">
               <a href="#">
                    <!-- card 1 -->
                    <div class="relative shadow-2xl shadow-black rounded-2xl w-[320px] sm:w-[450px] sm:h-[300px] mx-4 sm:mx-auto">
                        <div>
                        <img class="rounded-2xl w-full sm:h-[300px]" src="https://ik.imagekit.io/prohlad/buzzin/blog/img2.jpg?updatedAt=1704305331526" alt="" />
                        </div>
                        <div class="opacity-[0.9] sm:opacity-[0.9] sm:-bottom-10 shadow-md shadow-blue-500 -bottom-2 sm:-left-10 overflow-hidden py-3 px-4 absolute w-full bg-gradient-to-l rounded-2xl from-[#6017CD] to-[#0B54E7] ">
                        <p class="font-semibold text-base text-stone-300 flex gap-1 justify-center items-center">
                            FEBRUARY 5, 2020
                            <span class="w-[3px] h-[3px] bg-stone-300 rounded-full"></span>
                            BUSINESS
                        </p>
                        <h2 class="flex text-white sm:text-2xl text-lg sm:my-3 my-1 -ml-14 justify-center items-center gap-1">
                            <span class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D] h-[3px] w-[40px] rounded-sm"></span>
                            Grow Your Business & Start
                        </h2>
                        </div>
                    </div>
               </a>
           </div>
                <div class="sm:col-span-6 col-span-12 mt-[40px] sm:mt-0">
                   <!-- card 2  -->
                   <a href="#">
                    <!-- card 1 -->
                    <div class="relative shadow-2xl shadow-black rounded-2xl w-[320px] sm:w-[450px] sm:h-[300px] mx-4 sm:mx-auto">
                        <div>
                        <img class="rounded-2xl w-full sm:h-[300px]" src="https://ik.imagekit.io/prohlad/buzzin/blog/img3.jpg?updatedAt=1704305331443" alt="" />
                        </div>
                        <div class="opacity-[0.9] sm:opacity-[0.9] sm:-bottom-10 shadow-md shadow-blue-500 -bottom-2 sm:-left-10 overflow-hidden py-3 px-4 absolute w-full bg-gradient-to-l rounded-2xl from-[#6017CD] to-[#0B54E7] ">
                        <p class="font-semibold text-base text-stone-300 flex gap-1 justify-center items-center">
                            FEBRUARY 5, 2020
                            <span class="w-[3px] h-[3px] bg-stone-300 rounded-full"></span>
                            BUSINESS
                        </p>
                        <h2 class="flex text-white sm:text-2xl text-lg sm:my-3 my-1 -ml-14 justify-center items-center gap-1">
                            <span class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D] h-[3px] w-[40px] rounded-sm"></span>
                            Grow Your Business & Start
                        </h2>
                        </div>
                    </div>
                   </a>
                </div>
              
          </div>
        </div>
      </div>