<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="BUZZIN LIMITED" />
    <meta name="owner" content="BUZZIN" />
    <link rel="icon" type="image/x-icon" href="https://ik.imagekit.io/prohlad/buzzin/icons/buzzin-01.png?updatedAt=1704305332185">
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/service.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script src="https://kit.fontawesome.com/d5f8eabd0a.js" crossorigin="anonymous"></script>
    <script src="../../js/carousel.js"></script>
</head>
  <body>
    
<%- include('./navbar.ejs'); %>
