<div class="mt-[150px]">
      <!-- {/* container */} -->
      <div class="bg-gradient-to-t py-4 from-[#0B54E7] to-[#6017CD] h-[400px]">
        <!-- {/* content */} -->
        <div class="grid grid-cols-12 gap-6 md:pt-[180px]">
          <!-- {/* left */} -->
          <div class="md:col-span-9 col-span-12 order-2 md:order-1">
            <div class="hidden md:block h-56 sm:h-64 xl:h-80 2xl:h-96">
              <!-- carousel  -->            

              <div id="default-carousel" class="relative w-full" data-carousel="static">
                  <!-- Carousel wrapper -->
                  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                      <!-- Item 1 -->
                      <div class="hidden duration-700 ease-in-out" data-carousel-item>
                          <div class="flex gap-8">
                            <!-- 1 -->
                              <div class="cursor-pointer md:w-[210px] w-full portfolio_card_container rounded-2xl shadow-slate-400 shadow-lg">
                                <div>
                                  <img class="rounded-t-2xl w-full" src="https://ik.imagekit.io/prohlad/buzzin/portfolio/img1.jpg?updatedAt=1704305329253" alt="" />
                                </div>

                                <div class="py-4 portfolio_card_footer rounded-b-2xl bg-white">
                                  <div class="flex justify-start ml-3 items-center gap-3">
                                    <div class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  h-[3px] w-[30px] rounded-sm"></div>
                                    <h2 class="font-semibold text-lg">Golden Ballon</h2>
                                  </div>
                                  <div class="flex justify-start pl-4 md:pl-0">
                                    <h1 class="flex justify-center items-center gap-2">
                                      Branding
                                      <p class="h-[5px] w-[5px] rounded-full bg-stone-500"></p>
                                      Marketing
                                    </h1>
                                  </div>
                                </div>
                              </div>
                              <!-- 2 -->
                              <div class="cursor-pointer md:w-[210px] w-full portfolio_card_container rounded-2xl shadow-slate-400 shadow-lg">
                                <div>
                                  <img class="rounded-t-2xl w-full" src="https://ik.imagekit.io/prohlad/buzzin/portfolio/img2.jpg?updatedAt=1704305329999" alt="" />
                                </div>

                                <div class="py-4 portfolio_card_footer rounded-b-2xl bg-white">
                                  <div class="flex justify-start ml-3 items-center gap-3">
                                    <div class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  h-[3px] w-[30px] rounded-sm"></div>
                                    <h2 class="font-semibold text-lg">Golden Ballon</h2>
                                  </div>
                                  <div class="flex justify-start pl-4 md:pl-0">
                                    <h1 class="flex justify-center items-center gap-2">
                                      Branding
                                      <p class="h-[5px] w-[5px] rounded-full bg-stone-500"></p>
                                      Marketing
                                    </h1>
                                  </div>
                                </div>
                              </div>
                              <!-- 3 -->
                              <div class="cursor-pointer md:w-[210px] w-full portfolio_card_container rounded-2xl shadow-slate-400 shadow-lg">
                                <div>
                                  <img class="rounded-t-2xl w-full" src="https://ik.imagekit.io/prohlad/buzzin/portfolio/img3.jpg?updatedAt=1704305329894" alt="" />
                                </div>

                                <div class="py-4 portfolio_card_footer rounded-b-2xl bg-white">
                                  <div class="flex justify-start ml-3 items-center gap-3">
                                    <div class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  h-[3px] w-[30px] rounded-sm"></div>
                                    <h2 class="font-semibold text-lg">Golden Ballon</h2>
                                  </div>
                                  <div class="flex justify-start pl-4 md:pl-0">
                                    <h1 class="flex justify-center items-center gap-2">
                                      Branding
                                      <p class="h-[5px] w-[5px] rounded-full bg-stone-500"></p>
                                      Marketing
                                    </h1>
                                  </div>
                                </div>
                              </div>
                              <!-- 4 -->
                              <div class="cursor-pointer md:w-[210px] w-full portfolio_card_container rounded-2xl shadow-slate-400 shadow-lg">
                                <div>
                                  <img class="rounded-t-2xl w-full" src="https://ik.imagekit.io/prohlad/buzzin/portfolio/img4.jpg?updatedAt=1704305332370" alt="" />
                                </div>

                                <div class="py-4 portfolio_card_footer rounded-b-2xl bg-white">
                                  <div class="flex justify-start ml-3 items-center gap-3">
                                    <div class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  h-[3px] w-[30px] rounded-sm"></div>
                                    <h2 class="font-semibold text-lg">Golden Ballon</h2>
                                  </div>
                                  <div class="flex justify-start pl-4 md:pl-0">
                                    <h1 class="flex justify-center items-center gap-2">
                                      Branding
                                      <p class="h-[5px] w-[5px] rounded-full bg-stone-500"></p>
                                      Marketing
                                    </h1>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                     
                      <!-- Item 2 -->
                      <div class="hidden duration-700 ease-in-out" data-carousel-item>
                           <div class="flex gap-8">
                            <!-- 1 -->
                              <div class="cursor-pointer md:w-[210px] w-full portfolio_card_container rounded-2xl shadow-slate-400 shadow-lg">
                                <div>
                                  <img class="rounded-t-2xl w-full" src="https://ik.imagekit.io/prohlad/buzzin/portfolio/img1.jpg?updatedAt=1704305329253" alt="" />
                                </div>

                                <div class="py-4 portfolio_card_footer rounded-b-2xl bg-white">
                                  <div class="flex justify-start ml-3 items-center gap-3">
                                    <div class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  h-[3px] w-[30px] rounded-sm"></div>
                                    <h2 class="font-semibold text-lg">Golden Ballon</h2>
                                  </div>
                                  <div class="flex justify-start pl-4 md:pl-0">
                                    <h1 class="flex justify-center items-center gap-2">
                                      Branding
                                      <p class="h-[5px] w-[5px] rounded-full bg-stone-500"></p>
                                      Marketing
                                    </h1>
                                  </div>
                                </div>
                              </div>
                              <!-- 2 -->
                              <div class="cursor-pointer md:w-[210px] w-full portfolio_card_container rounded-2xl shadow-slate-400 shadow-lg">
                                <div>
                                  <img class="rounded-t-2xl w-full" src="https://ik.imagekit.io/prohlad/buzzin/portfolio/img2.jpg?updatedAt=1704305329999" alt="" />
                                </div>

                                <div class="py-4 portfolio_card_footer rounded-b-2xl bg-white">
                                  <div class="flex justify-start ml-3 items-center gap-3">
                                    <div class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  h-[3px] w-[30px] rounded-sm"></div>
                                    <h2 class="font-semibold text-lg">Golden Ballon</h2>
                                  </div>
                                  <div class="flex justify-start pl-4 md:pl-0">
                                    <h1 class="flex justify-center items-center gap-2">
                                      Branding
                                      <p class="h-[5px] w-[5px] rounded-full bg-stone-500"></p>
                                      Marketing
                                    </h1>
                                  </div>
                                </div>
                              </div>
                              <!-- 3 -->
                              <div class="cursor-pointer md:w-[210px] w-full portfolio_card_container rounded-2xl shadow-slate-400 shadow-lg">
                                <div>
                                  <img class="rounded-t-2xl w-full" src="https://ik.imagekit.io/prohlad/buzzin/portfolio/img3.jpg?updatedAt=1704305329894" alt="" />
                                </div>

                                <div class="py-4 portfolio_card_footer rounded-b-2xl bg-white">
                                  <div class="flex justify-start ml-3 items-center gap-3">
                                    <div class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  h-[3px] w-[30px] rounded-sm"></div>
                                    <h2 class="font-semibold text-lg">Golden Ballon</h2>
                                  </div>
                                  <div class="flex justify-start pl-4 md:pl-0">
                                    <h1 class="flex justify-center items-center gap-2">
                                      Branding
                                      <p class="h-[5px] w-[5px] rounded-full bg-stone-500"></p>
                                      Marketing
                                    </h1>
                                  </div>
                                </div>
                              </div>
                              <!-- 4 -->
                              <div class="cursor-pointer md:w-[210px] w-full portfolio_card_container rounded-2xl shadow-slate-400 shadow-lg">
                                <div>
                                  <img class="rounded-t-2xl w-full" src="https://ik.imagekit.io/prohlad/buzzin/portfolio/img4.jpg?updatedAt=1704305332370" alt="" />
                                </div>

                                <div class="py-4 portfolio_card_footer rounded-b-2xl bg-white">
                                  <div class="flex justify-start ml-3 items-center gap-3">
                                    <div class="bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  h-[3px] w-[30px] rounded-sm"></div>
                                    <h2 class="font-semibold text-lg">Golden Ballon</h2>
                                  </div>
                                  <div class="flex justify-start pl-4 md:pl-0">
                                    <h1 class="flex justify-center items-center gap-2">
                                      Branding
                                      <p class="h-[5px] w-[5px] rounded-full bg-stone-500"></p>
                                      Marketing
                                    </h1>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                 
                  <!-- Slider controls -->
                  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                      <span class="inline-flex absolute items-center justify-center bottom-[110px] left-[1020px] w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-gradient-to-t from-[#0B54E7] to-[#6017CD] shadow-lg shadow-stone-500 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                          <svg class="w-4 h-4 text-black hover:text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                          </svg>
                          <span class="sr-only">Previous</span>
                      </span>
                  </button>
                  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                      <span class="inline-flex absolute items-center justify-center bottom-[110px] left-[200px] w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-gradient-to-t from-[#0B54E7] to-[#6017CD] shadow-lg shadow-stone-500 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                          <svg class="w-4 h-4 text-black hover:text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                          </svg>
                          <span class="sr-only">Next</span>
                      </span>
                  </button>
              </div>

              <!-- carousel end  -->
            </div>
            <div class=" md:hidden mx-10 h-[500px] sm:h-[500px] xl:h-80 2xl:h-96">
              <Carousel indicators={false}>
                <h1>hi</h1>
              </Carousel>
            </div>
          </div>

          <!-- {/* right */} -->
          <div class="md:col-span-3 col-span-12 order-1 md:order-2 mx-2 md:mx-0">
            <h2 class="md:text-2xl text-xl text-white font-semibold">
              <span class=" sm:pl-5 pl-3 py-1 rounded-l-md text-black bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  shadow-2xl">
                PORT
              </span>
              FOLIO
            </h2>
            <h1 class="md:text-4xl text-3xl sm:text-2xl font-sans mt-10 text-white">
              Experienced In Gallery
            </h1>
          </div>
        </div>
      </div>
      <div class="mt-[180px] sm:mt-[220px] md:mt-[180px] flex justify-center">
        <button class="flex justify-center items-center gap-3 py-3 ">
          VIEW ALL PORTFOLIO
          <span>
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        </button>
      </div>
</div>

