<div>
      <!-- {/* container */} -->
      <div class="grid grid-cols-12 mt-16">
        <!-- {/* left  */} -->
        <div class="md:col-span-5 sm:col-span-12 col-span-12 relative">
          <div>
            <h3 class="tracking-widest ml-2 text-xl sm:text-2xl">
              <span class="shadow-blue-600 sm:pl-5 pl-3  py-1 rounded-l-md text-white bg-gradient-to-r from-[#6017CD] to-[#0B54E7] shadow-2xl">
                OUR
              </span>
              SERVICES
            </h3>
            <h1 class="md:text-5xl ml-2 text-3xl sm:text-5xl font-sans mt-10">
              Demand First-Rate Best Services
            </h1>
            <div class="h-[5px] ml-2 w-[100px] bg-slate-400 my-8 sm:my-8  rounded-sm"></div>
            <p class="ml-2 tracking-wider text-stone-400">
              Our Mission Is To Provide Quality English Language Instruction
              Through A Variety Of Courses To International
            </p>
          </div>
          <div class="md:absolute bottom-20 right-10 my-10 ">
             <!-- card  -->
               <div class="mx-4 sm:mx-0 service_card_container sm:w-[280px] rounded-2xl relative shadow-blue-400 shadow-xl">
                    <!-- {/* image */} -->
                    <img class="sm:w-[280px] rounded-2xl" src="https://ik.imagekit.io/prohlad/buzzin/services/img1.jpg?updatedAt=1704305333523" alt="" />
                    <div class="title hover:hidden">
                    <div class="flex justify-start items-center gap-2 py-5 pl-6 rounded-b-2xl absolute bottom-0 bg-white w-full">
                        <div class="bg-gradient-to-r from-[#6017CD] to-[#0B54E7] h-[5px] w-[40px] rounded-sm"></div>
                        <h2 class="font-semibold text-xl">Facebook Boosting</h2>
                    </div>
                    </div>
                    <!-- {/* overly  */} -->
                    <div class="overly w-full absolute top-0 h-full bg-gradient-to-tr from-[#0B54E7] to-[#6017CD] z-10 rounded-2xl">
                    <div class="h-full">
                        <div class="w-full h-full">
                        <div class="absolute bottom-10 w-full">
                            <h1 class="flex tracking-widest justify-between  items-center px-10 text-white">
                            Facebook Boosting
                            <span class="text-orange-300">
                                <FaLongArrowAltRight />
                            </span>
                            </h1>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
              <!-- card  -->
          </div>
        </div>

        <!-- {/* right */} -->
        <div class="md:col-span-7 sm:col-span-12 col-span-12 sm:mt-10 md:mt-0 relative">
          <div class="grid sm:grid-cols-2 grid-cols-1 gap-10">
            <div>
              <!-- card  -->
               <div class="mx-4 sm:mx-0 service_card_container sm:w-[280px] rounded-2xl relative shadow-blue-400 shadow-xl">
                    <!-- {/* image */} -->
                    <img class="sm:w-[280px] rounded-2xl" src="https://ik.imagekit.io/prohlad/buzzin/services/img2.jpg?updatedAt=1704305333739" alt="" />
                    <div class="title hover:hidden">
                    <div class="flex justify-start items-center gap-2 py-5 pl-6 rounded-b-2xl absolute bottom-0 bg-white w-full">
                        <div class="bg-gradient-to-r from-[#6017CD] to-[#0B54E7] h-[5px] w-[40px] rounded-sm"></div>
                        <h2 class="font-semibold text-xl">Youtube Boosting</h2>
                    </div>
                    </div>
                    <!-- {/* overly  */} -->
                    <div class="overly w-full absolute top-0 h-full bg-gradient-to-tr from-[#0B54E7] to-[#6017CD] z-10 rounded-2xl">
                    <div class="h-full">
                        <div class="w-full h-full">
                        <div class="absolute bottom-10 w-full">
                            <h1 class="flex tracking-widest justify-between  items-center px-10 text-white">
                            Youtube Boosting
                            <span class="text-orange-300">
                                <FaLongArrowAltRight />
                            </span>
                            </h1>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
              <!-- card  -->
            </div>
            <div class="md:mt-16 sm:mt-8 mt-0">
              <!-- card  -->
               <div class="mx-4 sm:mx-0 service_card_container sm:w-[280px] rounded-2xl relative shadow-blue-400 shadow-xl">
                    <!-- {/* image */} -->
                    <img class="sm:w-[280px] rounded-2xl" src="https://ik.imagekit.io/prohlad/buzzin/services/img3.jpg?updatedAt=1704305334346" alt="" />
                    <div class="title hover:hidden">
                    <div class="flex justify-start items-center gap-2 py-5 pl-6 rounded-b-2xl absolute bottom-0 bg-white w-full">
                        <div class="bg-gradient-to-r from-[#6017CD] to-[#0B54E7] h-[5px] w-[40px] rounded-sm"></div>
                        <h2 class="font-semibold text-xl">Facebook Marketing</h2>
                    </div>
                    </div>
                    <!-- {/* overly  */} -->
                    <div class="overly w-full absolute top-0 h-full bg-gradient-to-tr from-[#0B54E7] to-[#6017CD] z-10 rounded-2xl">
                    <div class="h-full">
                        <div class="w-full h-full">
                        <div class="absolute bottom-10 w-full">
                            <h1 class="flex tracking-widest justify-between  items-center px-10 text-white">
                            Facebook Marketing
                            <span class="text-orange-300">
                                <FaLongArrowAltRight />
                            </span>
                            </h1>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
              <!-- card  -->
            </div>
            <div>
              <!-- card  -->
               <div class="mx-4 sm:mx-0 service_card_container sm:w-[280px] rounded-2xl relative shadow-blue-400 shadow-xl">
                    <!-- {/* image */} -->
                    <img class="sm:w-[280px] rounded-2xl" src="https://ik.imagekit.io/prohlad/buzzin/services/img4.jpg?updatedAt=1704305334764" alt="" />
                    <div class="title hover:hidden">
                    <div class="flex justify-start items-center gap-2 py-5 pl-6 rounded-b-2xl absolute bottom-0 bg-white w-full">
                        <div class="bg-gradient-to-r from-[#6017CD] to-[#0B54E7] h-[5px] w-[40px] rounded-sm"></div>
                        <h2 class="font-semibold text-xl">Email Marketing</h2>
                    </div>
                    </div>
                    <!-- {/* overly  */} -->
                    <div class="overly w-full absolute top-0 h-full bg-gradient-to-tr from-[#0B54E7] to-[#6017CD] z-10 rounded-2xl">
                    <div class="h-full">
                        <div class="w-full h-full">
                        <div class="absolute bottom-10 w-full">
                            <h1 class="flex tracking-widest justify-between  items-center px-10 text-white">
                            Email Marketing
                            <span class="text-orange-300">
                                <FaLongArrowAltRight />
                            </span>
                            </h1>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
              <!-- card  -->
            </div>
            <div class="md:mt-16 sm:mt-8 mt-0">
               <!-- card  -->
               <div class="mx-4 sm:mx-0 service_card_container sm:w-[280px] rounded-2xl relative shadow-blue-400 shadow-xl">
                    <!-- {/* image */} -->
                    <img class="sm:w-[280px] rounded-2xl" src="https://ik.imagekit.io/prohlad/buzzin/services/img5.jpg?updatedAt=1704305334441" alt="" />
                    <div class="title hover:hidden">
                    <div class="flex justify-start items-center gap-2 py-5 pl-6 rounded-b-2xl absolute bottom-0 bg-white w-full">
                        <div class="bg-gradient-to-r from-[#6017CD] to-[#0B54E7] h-[5px] w-[40px] rounded-sm"></div>
                        <h2 class="font-semibold text-xl">Social Media Marketing</h2>
                    </div>
                    </div>
                    <!-- {/* overly  */} -->
                    <div class="overly w-full absolute top-0 h-full bg-gradient-to-tr from-[#0B54E7] to-[#6017CD] z-10 rounded-2xl">
                    <div class="h-full">
                        <div class="w-full h-full">
                        <div class="absolute bottom-10 w-full">
                            <h1 class="flex tracking-widest justify-between  items-center px-10 text-white">
                            Social Media Marketing
                            <span class="text-orange-300">
                                <FaLongArrowAltRight />
                            </span>
                            </h1>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
              <!-- card  -->
            </div>
          </div>
        </div>
        <div class="w-full col-span-12 grid justify-center">
          <button class="mt-6 my-8 md:my-8 sm:px-10 sm:py-2   py-2 hover:shadow-blue-200 shadow-yellow-200 shadow-lg md:py-3 md:px-12 px-6 rounded-full hover:bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]  text-black bg-gradient-to-r hover:from-[#6017CD] hover:to-[#0B54E7]  hover:text-white">
            ALL SERVICES
          </button>
        </div>
      </div>
    </div>