
<div class="md:mx-28 mx-2 sm:mx-16 my-[120px] ">
    <div id="default-carousel" class="relative w-full" data-carousel="static">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
             <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <div class="grid grid-cols-12 gap-2 md:mx-16 sm:mx-5 mx-2 border-[1px] border-stone-200 sm:h-[400px] h-[600px] rounded-2xl shadow-xl">
       
                    <div class="sm:col-span-4 md:col-span-4 col-span-12 justify-self-center sm:justify-self-start  h-[180px] sm:h-auto">
                    <div class="relative">
                        <div class="shadow-blue-700 shadow-md md:w-[220px] w-[200px] h-[200px] sm:w-[180px] sm:h-[180px] md:h-[220px] rounded-2xl bg-gradient-to-t from-[#0B54E7] to-[#6017CD]"></div>

                        <div class="absolute md:-top-8 md:-left-10 sm:-top-3 sm:-left-5 -top-8 -left-10">
                        <img
                            class="shadow-md w-[200px] h-[200px] sm:w-[180px] sm:h-[180px] md:w-[220px] md:h-[220px] rounded-2xl"
                            src="https://ik.imagekit.io/prohlad/buzzin/testimonial/img1.jpg?updatedAt=1704305335438"
                            alt=""
                        />
                        </div>
                    </div>
                    </div>

                    <div class="col-span-12 sm:col-span-8 md:col-span-8 mt-16">
                    <div>
                        <h2 class="md:text-3xl text-2xl px-2 sm:text-2xl text-slate-600">
                        When it comes to barbequing, there are two main schools of thought
                        for the techniques that you can use. Freshly eggs with applewood
                        smoked bacon - are amazing!
                        </h2>
                        <div class="flex  justify-between items-center mt-10 mx-5">
                        <h1 class="flex justify-center items-center gap-3 md:text-2xl text-lg sm:text-xl font-bold">
                            <div class="h-[4px] w-[30px] rounded-md bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]"></div>
                            Albert Willson
                        </h1>
                        <span class="md:text-[60px] sm:text-3xl text-xl mr-10 text-[#FFA024]">
                            <ImQuotesRight />
                        </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

           <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <div class="grid grid-cols-12 gap-2 md:mx-16 sm:mx-5 mx-2 border-[1px] border-stone-200 sm:h-[400px] h-[600px] rounded-2xl shadow-xl">
       
                    <div class="sm:col-span-4 md:col-span-4 col-span-12 justify-self-center sm:justify-self-start  h-[180px] sm:h-auto">
                    <div class="relative">
                        <div class="shadow-blue-700 shadow-md md:w-[220px] w-[200px] h-[200px] sm:w-[180px] sm:h-[180px] md:h-[220px] rounded-2xl bg-gradient-to-t from-[#0B54E7] to-[#6017CD]"></div>

                        <div class="absolute md:-top-8 md:-left-10 sm:-top-3 sm:-left-5 -top-8 -left-10">
                        <img
                            class="shadow-md w-[200px] h-[200px] sm:w-[180px] sm:h-[180px] md:w-[220px] md:h-[220px] rounded-2xl"
                            src="https://ik.imagekit.io/prohlad/buzzin/testimonial/img1.jpg?updatedAt=1704305335438"
                            alt=""
                        />
                        </div>
                    </div>
                    </div>

                    <div class="col-span-12 sm:col-span-8 md:col-span-8 mt-16">
                    <div>
                        <h2 class="md:text-3xl text-2xl px-2 sm:text-2xl text-slate-600">
                        When it comes to barbequing, there are two main schools of thought
                        for the techniques that you can use. Freshly eggs with applewood
                        smoked bacon - are amazing!
                        </h2>
                        <div class="flex  justify-between items-center mt-10 mx-5">
                        <h1 class="flex justify-center items-center gap-3 md:text-2xl text-lg sm:text-xl font-bold">
                            <div class="h-[4px] w-[30px] rounded-md bg-gradient-to-r from-[#FFA524] to-[#FFDE1D]"></div>
                            Albert Willson
                        </h1>
                        <span class="md:text-[60px] sm:text-3xl text-xl mr-10 text-[#FFA024]">
                            <ImQuotesRight />
                        </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Slider controls -->
        <button type="button" class="absolute -left-8  top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex  items-center justify-center  w-10 h-10 rounded-full  group-hover:from-[#FFA524] group-hover:to-[#FFDE1D] dark:bg-gray-800/30 bg-gradient-to-t from-[#0B54E7] to-[#6017CD] shadow-lg shadow-stone-500 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute -right-8 top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex    items-center justify-center  w-10 h-10 rounded-full  group-hover:from-[#FFA524] group-hover:to-[#FFDE1D] dark:bg-gray-800/30 bg-gradient-to-t from-[#0B54E7] to-[#6017CD] shadow-lg shadow-stone-500 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
</div>
