<div class="row justify-center">
    <div class="w-50 mx-auto">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Category</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="p-4" role="form">
              
                <div class="form-group">
                  <label for="category">Category Name</label>
                  <input type="text" class="form-control" id="category" placeholder="ex: Business">
                </div>
                
                
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Add Category</button>
              </div>
            </form>
          </div>
    </div>
</div>