<div class="card mx-4">
  <div class="card-header">
    <h3 class="card-title">All Blogs</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th class="text-center  align-middle">Thumb</th>
        <th class="text-center  align-middle">Title</th>
        <th class="text-center  align-middle">Publish</th>
        <th class="text-center  align-middle">Status</th>
        <th class="text-center  align-middle">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center  align-middle">
          <img class="thumb-img" src="/img/avatar3.png" alt="">
        </td>
        <td class="text-center  align-middle">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, eum?
        </td>
        <td class="text-center  align-middle">02-14-2024</td>
        <td class="text-center  align-middle">Pending</td>
        <td class="text-center  align-middle">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
              <i class="fas fa-eye"></i></a>
            </button>
            <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>

      <tr>
        <td class="text-center  align-middle">
          <img class="thumb-img" src="/img/avatar3.png" alt="">
        </td>
        <td class="text-center  align-middle">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, eum?
        </td>
        <td class="text-center  align-middle">02-14-2024</td>
        <td class="text-center  align-middle">Pending</td>
        <td class="text-center  align-middle">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
              <i class="fas fa-eye"></i></a>
            </button>
            <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
  <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Blog Details</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card card-primary">
                
                <form role="form">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-sm-6">
                             <!-- Date -->
                             <!-- Date dd/mm/yyyy -->
                             <div class="form-group">
                              <label>Publish Date:</label>
              
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                              </div>
                              <!-- /.input group -->
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Category:</label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="ex: business"
                                
                              />
                            </div>
                          </div>
                      </div>
              
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="title">Blog Title:</label>
                            <input type="text" class="form-control" id="title" placeholder="write here blog title">
                          </div>
                        </div>
              
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="meta_tag">Meta Tag:</label>
                            <input type="text" class="form-control" id="meta_tag" placeholder="write here meta tag">
                          </div>
                        </div>
                    </div>
              
                    <div class="form-group">
                      <label>Meta Description:</label>
                      <textarea class="form-control" rows="4" placeholder="Write here meta description"></textarea>
                    </div>
                    <!-- end editor  -->
                    <div class="form-group">
                      <label for="exampleInputFile">Blog Thumbnail:</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="exampleInputFile">
                          <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <div class="input-group-append">
                          <span class="input-group-text" id="">Upload</span>
                        </div>
                      </div>
                    </div>
                    <!-- editor  -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card card-outline card-info">
                          <div class="card-header">
                            <h3 class="card-title">
                              Write Blog Description Here          
                            </h3>
                            <!-- tools box -->
                            <div class="card-tools">
                              <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                      title="Collapse">
                                <i class="fas fa-minus"></i></button>
                              <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
                                      title="Remove">
                                <i class="fas fa-times"></i></button>
                            </div>
                            <!-- /. tools -->
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body pad">
                            <div class="mb-3">
                              <textarea class="textarea" placeholder="Place some text here"
                                        style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                      <!-- /.col-->
                    </div>
                    
                  </div>
                  <!-- /.card-body -->
              
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
</div>